<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
    
    <title>Accueil</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
  
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-slide-dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Projet</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-slide-dropdown">
        <ul class="nav navbar-nav">
            <li><a href="/listProduits">Produits</a></li>
            <li><a href="/listClients">Clients</a></li>
            <li><a href="/caissiers">Employés</a></li>
        	
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Recherche"/>
            </div>
            <button type="submit" class="btn btn-default">Entrer</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong th:text="${session.admin}"></strong> <span class="caret"></span></a>

              <ul class="dropdown-menu" role="menu">
                <li><a href="/listProduits">Gestion des produits</a></li>
                <li><a href="/listClients">Gestion des clients</a></li>
                <li><a href="/caissiers">Gestion des Employés</a></li>
                <li class="divider"></li>
                <li><a th:action="@{/signout}" href="/login">Déconnexion</a></li>
              </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <form th:action="@{/signout}" method="get"> -->
<!-- <p>Vous etes connecte en tant que : <strong th:text="${session.admin}"></strong> -->


<!--  <input type="submit" value="Se deconnecter" /> -->

<!-- </p> -->
<!-- </form> -->

<span><a th:href="@{/caissiers}">Employés</a></span>
<span><a th:href="@{/listProduits}">Produits</a></span> 
  <script type="text/javascript">

    $(document).ready(function(){
        $(".dropdown").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');        
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');       
            }
        );
    });

   </script>
</body>
</html>