<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nouveau Produit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div th:switch="${produit.id}">
	  <h1 th:case="-1">Creer un nouveau produit</h1>
	  <h1 th:case="*">Modifier</h1>
	</div>

	
    <form action="#" th:object="${produit}" method="post">
        <p>Nom: <input type="text" th:field="*{nom_produit}" /></p>
        <p><input type="submit" value="Nouveau" /> <input type="reset" value="Retour" /></p>
    </form>

</body>
</html>