<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
    
    <title>Fiche Produit</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style type="text/css"> 
   legend { text-align: center;}
   fieldset {margin-left: 450px;}
    .special {
    font-style: italic; 
    font-weight: bold !important;
    color:#bc0000 !important; 
    background:#000;
  }
 </style>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>   

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-slide-dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Projet</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-slide-dropdown">
        <ul class="nav navbar-nav">
            <li><a href="/lProduits">Produits</a></li>
            <li><a href="/lClients">Clients</a></li>
            <li><a href="/caissiers">Employés</a></li>
        	
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Recherche"/>
            </div>
            <button type="submit" class="btn btn-default">Entrer</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong th:text="${session.admin}"></strong> <span class="caret"></span></a>

              <ul class="dropdown-menu" role="menu">
                <li><a href="/lProduits">Gestion des produits</a></li>
                <li><a href="/lClients">Gestion des clients</a></li>
                <li><a href="/caissiers">Gestion des Employés</a></li>
                <li class="divider"></li>
                <li><a th:action="@{/signout}" href="/login">Déconnexion</a></li>
              </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    
<!--     
    <div th:switch="${product.id}">
    
	  <h4 th:case="-1">Nouveau Produit</h4>
	  <h4 th:case="*">Modifier un produit existant</h4>
	</div>
	
	<form action="#" th:object="${product}" method="post">
	
        <p> > Nom : <input type="text" th:field="*{name}" /></p>
        <p> > Description : <input type="text" th:field="*{description}" /></p>
        <p> > Prix : <input type="text" th:field="*{price}" /></p>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        
    </form>
	 -->
	


<form class="form-horizontal" action="#" th:object="${product}" method="post">
<fieldset>


<legend>Fiche Produit</legend>



<div class="control-group">
  <label class="control-label" for="textinput">Référence :</label>
  <div class="controls">
    <input id="textinput" name="ref" th:field="*{ref}" type="text" placeholder="Référence du produit" class="input-xlarge" required="required"/>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="textinput">Nom :</label>
  <div class="controls">
    <select th:field="*{name}" required="required" name="name">
     <optgroup label="Fruit" >
      <option value="Ananas">Ananas</option>
      <option value="Banane">Banane</option>
      <option value="Fraise">Fraise</option>
      <option value="Kiwi">Kiwi</option>
    </optgroup>
    <optgroup label="Légume">
      <option value="Pomme de terre">Pomme de terre</option>
      <option value="Oignon">Oignon</option>
      <option value="Carrotes">Carrotes</option>
    </optgroup>
     <optgroup label="Poisson">
      <option value="Sardine">Sardine</option>
      <option value="Crevette">Crevette</option>
      <option value="Saumon">Saumon</option>
      <option value="Calamar">Calamar</option>
      <option value="Dorade">Dorade</option>
    </optgroup>
  	</select>
  </div>
</div>



<div class="control-group">
  <label class="control-label" for="textinput">Description :</label>
  <div class="controls">
    <input id="textinput" name="adresse" th:field="*{description}" type="text" placeholder="Description du produit" class="input-xlarge" required="required"/>
  </div>
</div>


<div class="control-group">
  <label class="control-label" for="textinput">Prix :</label>
  <div class="controls">
    <input id="textinput" name="prix" th:field="*{price}" type="text" placeholder="prix" class="input-xlarge" required="required"/>
  </div>
</div>


<div class="control-group">
  <label class="control-label" for="textinput">Provenance :</label>
  <div class="controls">
    <input id="textinput" name="provenance" th:field="*{provenance}" type="text" placeholder="provenance du produit" class="input-xlarge" required="required"/>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="textinput">Catégorie :</label>
  
   
   <select class="selectpicker" name="categorie" th:field="*{categorie}" required="required">
    <optgroup label="categorie">
      <option value="Fruit">Fruit</option>
      <option value="légume">Légume</option>
      <option value="Poisson">Poisson</option>
      <option value="Viande">Viande</option>
    </optgroup>
  </select>
     
</div>

  
<div class="control-group">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Enregistrer</button>
  </div>
</div>



</fieldset>
</form>

<script src="http://bootstrap.twit.free.fr/js/jquery.js"></script> 
<script src="http://bootstrap/js/bootstrap.min.js "></script>
 <script type="text/javascript">
 //$('.dropdown-toggle').dropdown()
  $('.dropdown-menu', this).not('.in .dropdown-menu')
    $(document).ready(function(){
        $(".dropdown").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');        
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');       
            }
        );
    });

   </script>

</body>
</html>

