<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-responsive.min.css" rel="stylesheet"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   

<style type="text/css"> 
   legend { text-align: center;}
   fieldset {margin-left: 450px;}
    
 </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-slide-dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Point de vente</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-slide-dropdown">
        <ul class="nav navbar-nav">
            <li><a href="/lProduits">Produits</a></li>
            <li><a href="/lClients">Clients</a></li>
            <li><a href="/lCaissiers">Employés</a></li>
        	
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Recherche"/>
            </div>
            <button type="submit" class="btn btn-default">Entrer</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong th:text="${session.admin}"></strong> <span class="caret"></span></a>

              <ul class="dropdown-menu" role="menu">
                <li><a href="/lProduits">Gestion des produits</a></li>
                <li><a href="/lClients">Gestion des clients</a></li>
                <li><a href="/lCaissiers">Gestion des Employés</a></li>
                <li class="divider"></li>
                <li><a th:action="@{/signout}" href="/login">Déconnexion</a></li>
              </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<fieldset>


<legend>Gestion des caissiers</legend>

</fieldset>
<div class="panel panel-default">
  
  <div class="panel-heading"><strong>Liste des employés :</strong></div>
 
</div>
<a href="/formCaissiers">  Ajouter un nouveau employé : </a>
<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        <div class="table-responsive">
        
                
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   <tr> 
                   
                 <th><input type="checkbox" id="checkall"/></th>
                 <td>Code Caissier</td> 
         		 <td>Nom</td> 
         		 <td>Prenom</td>
        	     <td>Adresse</td>
          		 <td>Age</td>
                 <td>email</td>
                 <th>Modifier</th>
                 <th>Supprimer</th>
                   
                    </tr>   
                   </thead>
    <tbody>
    
    <tr  th:each="cc : ${session.panierCaissiers}">
    <td><input type="checkbox" class="checkthis" /></td>
    
    <td class="success" th:text="${cc.refcli}"></td>
    <td th:text="${cc.nom}"></td>
    <td th:text="${cc.prenom}"></td>
    <td th:text="${cc.adresse}"></td>
    <td th:text="${cc.age}"></td>
    <td th:text="${cc.email}"></td>
    
    
    <td> <span class="label label-success">  <a th:href="@{/editCaissier(id=${cc.id})}">edit</a></span></td>
    <td> <span class="label label-danger"> <a th:href="@{/deleteCaissier(id=${cc.id})}">delete</a></span></td>
  
        </tr>
    
    </tbody>
        
</table>

</div>
            
        </div>
	</div>
</div>




<script src="http://bootstrap.twit.free.fr/js/jquery.js"></script> 
<script src="http://bootstrap/js/bootstrap.min.js "></script>
 <script type="text/javascript">
 //$('.dropdown-toggle').dropdown()
  $('.dropdown-menu', this).not('.in .dropdown-menu')
    $(document).ready(function(){
        $(".dropdown").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');        
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');       
            }
        );
    });

   </script>
</body>
</html>