<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des produits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <a href="/">Créer un nouveau produit :</a>
    
    <ul>
    	<li th:each="produit : ${produits}" >
    	
    		<span th:text="${produit.nom_produit}"></span>
    		<span><a th:href="@{/edit(id=${produit.id})}">Modifier le produit</a></span>
    		<span><a th:href="@{/delete(id=${produit.id})}">Supprimer le produit</a></span> 
    	</li>
    </ul>
</body>
</html>